.dh-layout.container {
    @include AU-space( width, 46.5unit );
    @include AU-space( padding-left, 2.5unit);
    @include AU-space( padding-right, 2.5unit);
    border: solid 1px #979797;
}

.narrow-content-wrapper {
    @include AU-space( width, 31.5unit);
    margin: 0 auto;
}

.wide-content-wrapper {
    @include AU-space( width, 44unit );
    margin: 0 auto;
}